/*#region 1. GENERAL*/
:root {
    --color-font: #F6F4EB;
    --color-font2: #F1EFEF;
    --color-font3: #A8A196;
    --color-background: #000000;
    --color-background2: #272829;
    --color-container: #7D7C7C;
    --color-container2: #EEE0C9;
    --color-button2: #CCC8AA;
    --color-button: #191717;
    --font-family: 'Anonymous Pro', monospace;
    ;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;
    background: url("../src/assets/fondo.webp") no-repeat center center fixed;
    background-size: cover;
}

/*#endregion*/

/*#region 2. BOTON*/
button.button-action {
    cursor: pointer;
    background-color: var(--color-button2);
    color: var(--color-font3);
    border: none;
    font-size: 1.25rem;
    line-height: 1.25rem;
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-family: var(--font-family);
    margin-top: auto
}

button.button-action:hover {
    background-color: var(--color-button);
    color: var(--color-font2);
}

/*#endregion*/

/*#region 3. FLEX*/
.fx-row {
    display: flex;
    flex-direction: row;
}

.fx-column {
    display: flex;
    flex-direction: column;
}

.fx-align-items-center {
    align-items: center;
}

.fx-content-space-between {
    justify-content: space-between;
}

.fx-content-center {
    justify-content: center;
}

/*#endregion*/


/*#region 4. SECCION*/
#forms-section {
    background: url("../src/assets/fondo.webp") no-repeat center center fixed;
    background-size: cover;
    margin-top:5rem;
}

/*#endregion*/


/*#region 3. FLEX*/
/*#endregion*/


/*#region 3. FLEX*/
/*#endregion*/